{% extends "index.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <form style="float: left;" class="form-inline" action="/pacientes/add">
          <div class="form-group">	
           <button type="submit" class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i> Nuevo Paciente</button>
          </div>
        </form>
        <br>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover" id="myTable">
  <thead>
    <th>Nombre</th> 
    <th>Rut</th>
    <th>Fecha Nacimiento</th>
    <th>Vacunas</th>
  </thead>

  <tr>

    {% for paciente in pacient %}

    <td>{{ paciente['nombre_paciente'] }}</td>
    <td>{{ paciente['rut'] }}</td>
    <td>{{ paciente['fecha_nacimiento'] }}</td>

<td>
  <a><form style="float: left" action="/pacientes/vacunas" method="post">
    <button type="submit" class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"></i> Ver</button>
    <input type="text" name="id" id="id" value="{{paciente['id']}}" hidden>
  </form>
</a>
 <a><form style="" action="/pacientes/vacunar" method="post">
      <button type="submit" class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar</button>
      <input type="text" name="id" id="id" value="{{paciente['id']}}" hidden>
  </form>
</a>
</td>
  </tr>
  {% endfor %}
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>

{% endblock %}