{% extends "index.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
		  		<form action="/pacientes">
			<div class="form-inline">
			  <button type="submit" class="btn btn-success"><i class="fa fa-arrow-left"></i> Atrás</button>
			</div>
		  </form>
      </div>
      <!-- /.box-header -->

	  <div class="box box-primary">
		<div class="box-header with-border">
		  <h3 class="box-title">Vacunar Paciente</h3>
		</div>
		<!-- /.box-header -->
		<!-- form start -->
		<form role="form" action="/pacientes/vacunar/listo" method="post">
			{% for pavac in vacp %}
		  <div class="box-body">
			<div class="form-group">
				<label>Nombre del Paciente</label>
				<input type="text" class="form-control" placeholder="{{pavac['nombre_paciente']}}" disabled>
			  </div>
			  <div class="form-group">
				<label>RUN</label>
				<input type="text" class="form-control" placeholder="{{pavac['rut']}}" disabled>
			  </div>
			  <div class="form-group">
				<label>Vacuna</label>
				<select class="form-control" name="vacunas" id="vacunas">
					{% for vacunas in vaco %}
					<option value="{{vacunas['id']}}">{{vacunas['nombre_enfermedad']}}</option>
					{% endfor %}
				</select>
			  </div>
		  </div>
		  <!-- /.box-body -->

		  <div class="box-footer">
			<input type="text" name="idp" id="idp" value="{{pavac['id']}}" hidden>
      		<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Guardar</button>
		  </div>
		  {% endfor %}
		</form>
	  </div>


    </div>
    <!-- /.box -->
  </div>
</div>
{% endblock %}