{% extends "index.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <form action="/vacunas">
          <div class="form-inline">
            <button type="submit" class="btn btn-success"><i class="fa fa-arrow-left"></i> Atrás</button>
          </div>
        </form>
        <br>
      </div>
      <!-- /.box-header -->
      <div class="box box-primary">
        <div class="box-header with-border">
          {% for nombre in n %}
          <h3 class="box-title">Pacientes con {{nombre['nombre_enfermedad']}}</h3>
          {% endfor %}
        </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover" id="myTable">
  <thead>
    <th>Nombre</th>
    <th>Rut</th>
    <th>Fecha de Vacuna</th>
  </thead>

  <tr>

    {% for vacunas in vacuna %}
    <tr>
      <td>{{ vacunas['nombre_paciente'] }}</td>
      <td>{{ vacunas['rut'] }}</td>
      <td>{{ vacunas['fechavacuna'] }}</td>
    </tr>
  </tr>
  {% endfor %}
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
{% endblock %}